.grid-container {
    display: grid;
    grid-template-columns: repeat(8, auto);
    justify-content: space-between;
    
    
    
    padding: 30px;

}
.general-container {
    background-color: seagreen;
    min-height: 100%;
    width: 100%;
    
    
    
}

.foundation {
    display: flex;  
    flex-direction: column;
 
}

