<div class="text">
    <h2>How to play Yukon</h2>

    <p>The objective of the game is to move all the cards from the tableau to the foundation.</p>
      
    <p>Card movement is done by dragging and dropping cards from on pile to the desired pile.</p>

    <p>Aces rank lowest and Kings rank highest.</p>  

    <p>Cards can be moved in the tableau from one pile to another when placed in descending order 
        and alternating in color. You can move multiple cards at a time between tableau piles.
        After removing all face up cards from a tableau pile with face-down cards, the top card
        will be revealed. An empty tableau pile can only be filled by a King.      
    </p>

    <p>
        Only one card at a time can be moved from the tableau to the foundation.
        Cards are placed in in the foundation in ascending order, starting with the Aces and can 
        only be placed in the pile with the corresponding suit of the card. Once a card is placed in 
        the foundation it cannot be removed.
    </p>
    <img src="/assets/elementsExplanation.png">  
    <h3>Game options:</h3>
        
    <p><strong>New game:</strong>  this option will create a new game with a new deck of shuffled cards and your current game will be lost.
    </p>

    <p> Restart game: this option will position the cards as they were initially dealt in the tableau at the start of the game and your current progress will be lost. This will reset the move count and timer to zero.
    </p>    
     
    <p> <strong>Undo:</strong>  this option will undo the last move you made.</p>  

    <p> <strong>Redo:</strong> this option will revert the last undo action you made.</p>

    <p> <strong>Pause/Resume:</strong> this option will pause the game if it is running; pausing the game causes the timer to stop while the game is paused, and the foundation and tableau will be hidden. 
        <br>If the game is paused this option will resume the game; the cards will become visible and the timer will continue. While the game is paused the undo and redo buttons will have no effect.
    </p>
    <h3>Information:</h3>
    <p> <strong>Moves:</strong>  this shows a counter that displays how many moves you have made in your current game. The first number is the moves in your current path and the second number is the total number of moves. 
        <br>Note: using the undo and redo buttons will count as a move in the total number of moves; but using undo and redo will subtract and add moves to the number of moves of your current path.
    </p>

    <p><strong>Time:</strong> this displays a timer showing the total elapsed time of your current game.</p>

    
            
</div>
