.card {
    border-style: solid;
    border-color: black;
    
    

    
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif,sans-serif;
    font-weight: bold;

    justify-content: space-between;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.facedown {
    background-color: royalblue;
}
.center {
    font-size: 300%;
    align-self: center;
    justify-self: center;
    text-align: center;
    height: min-content;
}
.left {
    font-size: 140%;
    align-self: flex-start;   
    height: min-content;
    margin-left: 5%;
}
.right {

    font-size: 140%;
    margin-right: 5%;
    align-self: flex-end;
    height: min-content;
}
