<div  *ngIf="this.card.visible; invisible" [ngStyle]="tableService.cardOverlap[this.faceUp]">
    
    <div *ngIf="faceUp; else down" class="card" [style.color]="color" [ngStyle]="tableService.cardDimension"  >
        <div class="left">
            {{value}}
            <br>
            {{suit}}           
        </div>
    
        <div class="center">{{suit}}</div>
    
        <div class="right">
            {{suit}}
            <br>
            {{value}}
        </div>
    </div>
    
    <ng-template #down>
        <div class="card facedown" [ngStyle]="tableService.cardDimension" ></div>
    </ng-template>
    
</div>
<ng-template #invisible><div class="card" [style.color]="color" [ngStyle]="tableService.cardDimension" ></div></ng-template>