<div [style.height]="overlapHeight" *ngIf="this.card.visible; invisible">
    
    <div *ngIf="faceUp; else down" class="card" [style.color]="color" [style]="tableService.cardDimension" >
        <div class="left">
            {{value}}
            <br>
            {{suit}}           
        </div>
    
        <div class="center">{{suit}}</div>
    
        <div class="right">
            {{suit}}
            <br>
            {{value}}
        </div>
    </div>
    
    <ng-template #down>
        <div class="card facedown" [style]="tableService.cardDimension"></div>
    </ng-template>
    
</div>
<ng-template #invisible><div class="card" [style.color]="color" [style]="tableService.cardDimension"></div></ng-template>