<div class="text">
    <h2>About this application</h2>
    <p>This application lets you play Yukon, a type of solitaire card game that 
        uses a standard deck of 52 French playing cards. This is an open source 
        project that was inspired by Pysol, an excellent desktop application for 
        playing solitaire card games. </p>

    <p>
        This application was developed using Angular 10 and Angular Material for the drag and drop features.
    </p>

    <p>
        You can check out the source code in this <a href="https://github.com/jabn1/YukonSolitaire" target="blank">GitHub repository</a>.
    </p>
</div>
