    <div style="width: 7rem; height: 100%;"
        cdkDropList
        [cdkDropListData]="tableauStack" 
        (cdkDropListDropped)="drop($event)"
        >
        <div class="tableau"></div>
        <div *ngFor="let cardFD of faceDownCards" >
            <app-card  [faceUp]="false" [card]="cardFD" ></app-card>
        </div>
    
        <div *ngFor="let cardFU of faceUpCards" cdkDrag>
            <div *cdkDragPlaceholder></div>
            <app-card [faceUp]="true" [card]="cardFU" ></app-card>
        </div>
    </div>
    
