    <div style="height: 100%;" 
        [style.width.px]="this.tableService.baseCardDimension"
        cdkDropList
        [cdkDropListData]="tableauStack" 
        (cdkDropListDropped)="drop($event)"
        >
        <div class="tableau" [style]="tableService.cardDimension"></div>
        <div *ngFor="let cardFD of faceDownCards" >
            <app-card  [faceUp]="false" [card]="cardFD" ></app-card>
        </div>
    
        <div *ngFor="let cardFU of faceUpCards" cdkDrag>
            <div *cdkDragPlaceholder></div>
            <app-card [faceUp]="true" [card]="cardFU" ></app-card>
        </div>
    </div>
    
