<div class="menu" >
    <h1>&nbsp;<a routerLink="">Yukon Solitaire</a></h1>
    <ul>
        <li><a routerLink="/rules"><span class="icon"><img src="assets/docIcon.png"></span>&nbsp;How to play</a></li>
        <li><a routerLink="/about"><span class="icon"><img src="assets/infoIcon.png"></span>&nbsp;About</a></li>
        <hr>
        <li><div (click)="this.tableService.restartGame()"> <span class="icon"><img src="assets/restartIcon.png"></span>&nbsp;Restart game</div></li>
        <li><div (click)="this.tableService.newGame()"><span class="icon">+</span>&nbsp;New game</div></li>
        <hr>
        <li><div (click)="this.tableService.goBack()"><span class="icon"><img src="assets/undoIcon.png"></span>&nbsp;Undo</div></li>
        <li><div (click)="this.tableService.goForwards()"><span class="icon"><img src="assets/redoIcon.png"></span>&nbsp;Redo</div></li>
        <li><div (click)="this.tableService.startStop()"><span class="icon"><img src="assets/pauseResume.png"></span>&nbsp;Pause/Resume</div></li>
        

        <div class="info">
            
            <div><span class="icon"></span>Moves: {{this.tableService.moveCount}}/{{this.tableService.moveTotalCount}}</div>
            <br>
            <div><span class="icon"></span>Time:  {{this.tableService.currentTime.hours}}:{{this.tableService.currentTime.minutes}}:{{this.tableService.currentTime.seconds}}</div>
        </div>
        
    </ul>

    
    
    
    
    
    
    
    
    
    
    
</div>
