<div class="menu" >
    <h1>&nbsp;<a routerLink="">Yukon Solitaire</a></h1>
    <ul>
        <li><a routerLink="/rules">How to play</a></li>
        <li><a routerLink="/about">About</a></li>
        <hr>
        <li><div (click)="this.tableService.restartGame()">Restart game</div></li>
        <li><div (click)="this.tableService.newGame()">New game</div></li>
        <hr>
        <li><div (click)="this.tableService.goBack()">Undo</div></li>
        <li><div (click)="this.tableService.goForwards()">Redo</div></li>
        <li><div (click)="this.tableService.startStop()">Pause/Resume</div></li>
        

        <div class="info">
            
            <div>Moves: {{this.tableService.moveCount}}/{{this.tableService.moveTotalCount}}</div>
            <br>
            <div>Time:  {{this.tableService.currentTime.hours}}:{{this.tableService.currentTime.minutes}}:{{this.tableService.currentTime.seconds}}</div>
        </div>
        
    </ul>

    
    
    
    
    
    
    
    
    
    
    
</div>
