<!-- <app-card value="2" [faceUp]="false" suit="&hearts;"  ></app-card>
<app-card value="2" [faceUp]="false" suit="&hearts;"  ></app-card>
<app-card value="2" [faceUp]="false" suit="&hearts;"  ></app-card>
<app-card value="2" [faceUp]="true" suit="&hearts;"  ></app-card>
<app-card value="2" [faceUp]="true" suit="&hearts;"  ></app-card>
<app-card value="10" [faceUp]="true" suit="&hearts;"  ></app-card> -->

<!-- <div cdkDropListGroup>
    <app-tableau-stack></app-tableau-stack>
    <div style="height: 200px;"></div>
    <app-tableau-stack></app-tableau-stack>
</div> -->
<app-table></app-table>
